.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btn-form {
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.label-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-form {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

.textarea-form {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 80px;
}
